<app-header-back [titulo]="titulo"></app-header-back>

<ion-content fullscreen >
  <form [formGroup]="form"  novalidate >
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="secondary">
          <ion-label>USUARIO</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="vNombre" [(ngModel)]="usuarios.nombre"></ion-input>
        </ion-item>
        <print-error [control]="f.vNombre"></print-error>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="vEmail" type="email" [(ngModel)]="usuarios.email"></ion-input>
        </ion-item>
        <print-error [control]="f.vEmail"></print-error>
        <ion-item>
          <ion-label position="stacked">Celular</ion-label>
          <ion-input formControlName="vCelular" type="number" [(ngModel)]="usuarios.celular" ></ion-input>
        </ion-item>
        <print-error [control]="f.vCelular"></print-error>
        <ion-item>
          <ion-label position="stacked">Fecha Nacimiento</ion-label>
          <ion-datetime formControlName="vFecha" displayFormat="DD/MM/YYYY" min="1900-03-14" max="2080-12-09" [(ngModel)]="usuarios.fecha_nac"></ion-datetime>
        </ion-item>
        <print-error [control]="f.vFecha"></print-error>
        <ion-item>
          <ion-label position="stacked">País</ion-label>
          <ion-select formControlName="vPais" interface="popover" placeholder="Selecciona uno" okText="Okay" cancelText="Cancelar" [(ngModel)]="usuarios.pais">
            <ion-select-option value="BOLIVIA">Bolivia</ion-select-option>
          </ion-select>
        </ion-item>
        <print-error [control]="f.vPais"></print-error>
        <ion-item>
          <ion-label position="stacked">Ciudad</ion-label>
          <ion-select formControlName="vCiudad" interface="popover" placeholder="Selecciona uno" okText="Okay" cancelText="Cancelar" [(ngModel)]="usuarios.ciudad">
            <ion-select-option value="LA PAZ">La Paz</ion-select-option>
            <ion-select-option value="COCHABAMBA">Cochabamba</ion-select-option>
            <ion-select-option value="SANTA CRUZ">Santa Cruz</ion-select-option>
            <ion-select-option value="ORURO">Oruro</ion-select-option>
            <ion-select-option value="POTOSI">Potosí</ion-select-option>
            <ion-select-option value="SUCRE">Sucre</ion-select-option>
            <ion-select-option value="TARIJA">Tarija</ion-select-option>
            <ion-select-option value="PANDO">Pando</ion-select-option>
            <ion-select-option value="BENI">Beni</ion-select-option>
          </ion-select>
        </ion-item>
        <print-error [control]="f.vCiudad"></print-error>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="vPassword" type="password" [(ngModel)]="usuarios.pass" ></ion-input>
        </ion-item>
        <print-error [control]="f.vPassword"></print-error>
        <ion-item>
          <ion-label #confPass position="stacked">Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="vConfirmPass" name="vConfirmPass" ></ion-input>
        </ion-item>
        <print-error [control]="f.vConfirmPass"></print-error>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="secondary">
          <ion-label>NEGOCIO</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="vNombreNeg" type="text" [(ngModel)]="empresa.nombre" ></ion-input>
        </ion-item>
        <print-error [control]="f.vNombreNeg"></print-error>
        <ion-item>
          <ion-label position="stacked">Telefono</ion-label>
          <ion-input formControlName="vTelefNeg" type="number" [(ngModel)]="empresa.telefono" ></ion-input>
        </ion-item>
        <print-error [control]="f.vTelefNeg"></print-error>
        <ion-item>
          <ion-label position="stacked">Celular</ion-label>
          <ion-input formControlName="vCelNeg" type="number" [(ngModel)]="empresa.celular"></ion-input>
        </ion-item>
        <print-error [control]="f.vCelNeg"></print-error>
        
        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-textarea formControlName="vDireccNeg" [(ngModel)]="empresa.direccion"></ion-textarea>
        </ion-item>
        <print-error [control]="f.vDireccNeg"></print-error>
        <ion-item>
          <ion-label position="stacked">Ubicación</ion-label>
          <ion-textarea formControlName="vUbicNeg" readonly="true" (click)="abrirModal()" [(ngModel)]="strUbicacion" ></ion-textarea>
        </ion-item>
        <print-error [control]="f.vUbicNeg"></print-error>
        <ion-item>
          <ion-label position="stacked">Descripción</ion-label>
          <ion-textarea formControlName="vDescrNeg" [(ngModel)]="empresa.descripcion"></ion-textarea>
        </ion-item>
        <print-error [control]="f.vDescrNeg"></print-error>
        <ion-item>
          <ion-label position="stacked">Categoria</ion-label>
          <ion-select formControlName="vCategNeg" interface="popover" placeholder="Seleccionar Uno" *ngFor="let item of lstCategorias" [(ngModel)]="strCategoria">
            <ion-select-option value="{{item.categoria}}">{{item.categoria | titlecase}}</ion-select-option>
          </ion-select>
        </ion-item>
        <print-error [control]="f.vCategNeg"></print-error>
      </ion-item-group>
    </ion-list>

    <ion-button color="tertiary" [disabled]="form.invalid" (click)="registrar()" expand="block">Registrarme</ion-button>
  </form>
</ion-content>
