<ion-content class="fondo" >

  <img src="../../../assets/img/logo.png" />
  <div class="contenido-centrado">
    <form [formGroup]="form" novalidate>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input formControlName="vEmail" type="email"></ion-input>
      </ion-item>
      <print-error [control]="f.vEmail"></print-error>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="vPass" type="password"></ion-input>
      </ion-item>
      <print-error [control]="f.vPass"></print-error>
      <ion-button [disabled]="form.invalid" color="tertiary" (click)="ingresar()" expand="block">Ingresar</ion-button>
    </form>
    
    <ion-label class="links" color="primary" (click)="irRegistroUsuarios()" position="stack">Registrarme</ion-label>
    <br />
    <ion-label class="links" color="primary" (click)="irOlvidarContrasenia()" position="stack">Olvidé mi contraseña</ion-label>

  </div>
</ion-content>
